# TUPLES

In [4]:
# iMMUTABLE değiştirilemez
# İTERABLE

In [5]:
tuple()  #tuple olayı budur bu şekilde oluşturulur

()

In [6]:
tuple("Techpro")

('T', 'e', 'c', 'h', 'p', 'r', 'o')

In [7]:
tuple([1,2,3,4,5])  #tuple fonsiyonu ile listeyi tuple a çevirdim

(1, 2, 3, 4, 5)

In [10]:
tuple([1,2,3], "Techpro")  #tuple tek 1 eleman alır

TypeError: tuple expected at most 1 argument, got 2

In [3]:
tuple_1 = ("Techpro", 3, 3.14, False, [1,2,3])
tuple_1

('Techpro', 3, 3.14, False, [1, 2, 3])

In [13]:
type(tuple_1)

tuple

In [14]:
tuple(123)

TypeError: 'int' object is not iterable

In [15]:
name = "Başak"

In [16]:
tuple(name)

('B', 'a', 'ş', 'a', 'k')

In [17]:
pi_number = 3,14  #parantez aç kapa yapmadan da virgüller ile ayrılan elemanları tuple olarak değerlendirebiliriz
pi_number

(3, 14)

In [18]:
type(pi_number)

tuple

In [19]:
len(pi_number)

2

In [20]:
["Techpro"]   #bir liste

['Techpro']

In [21]:
["Techpro", 3, False]

['Techpro', 3, False]

In [1]:
("Techpro")   #bu ifade tuple oluştrumaz.

'Techpro'

In [22]:
("Techpro",)    #Tuple oluşturması için virgül koymak gereklidir

('Techpro',)

In [6]:
(123)

123

In [7]:
tek_elemanlı = ("Techpro",)  #tuple

In [4]:
len(tek_elemanlı)

1

In [8]:
type(tek_elemanlı)

tuple

In [7]:
tuple_olmayan = ("Techpro")  #virgül yok

In [8]:
type(tuple_olmayan)

str

In [12]:
type("techpro",)  #Fonksiyonun ikinci parametresinin girileceğini düşünür

str

In [11]:
type(("techpro",))

tuple

In [13]:
type(1,2)

TypeError: type() takes 1 or 3 arguments

In [15]:
liste_1 = 3, 2, 5
liste_1                 #liste oluşturan köşeli parantezi unursak tuple oluşur

(3, 2, 5)

In [16]:
type(liste_1)

tuple

In [17]:
[1, 2, 3] + [4, 5] #liste

[1, 2, 3, 4, 5]

In [18]:
[1, 2, 3] * 3 #liste

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [19]:
(1, 2, 3) + (4, 5)   #tuple

(1, 2, 3, 4, 5)

In [20]:
(1, 2, 3) * 3 #tuple

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [21]:
("Techpro", 3, False) + ("Sedat")   #ikinci ifade tuple değil. ikincisi stringdir. Bu yüzden hata

TypeError: can only concatenate tuple (not "str") to tuple

In [22]:
("Techpro", 3, False) + ("Sedat",) #doğrusu. Bir virgül nelere kadir

('Techpro', 3, False, 'Sedat')

# Indexing & Slicing

In [10]:
tuple_2 = ("Aslan", 4, True, ["tulay", 5, 6,], ("zeynep", 2, 3.14))
tuple_2

('Aslan', 4, True, ['tulay', 5, 6], ('zeynep', 2, 3.14))

In [25]:
tuple_2[3]

['tulay', 5, 6]

In [26]:
tuple_2[3][0]

'tulay'

In [27]:
tuple_2 [4][1]

2

In [29]:
tuple_2[1:4]

(4, True, ['tulay', 5, 6])

In [30]:
tuple_2[3][1:2]

[5]

In [31]:
"techpro"[1:4]

'ech'

In [32]:
[1,4,5,2,6][1:4]

[4, 5, 2]

In [11]:
tuple_2

('Aslan', 4, True, ['tulay', 5, 6], ('zeynep', 2, 3.14))

In [14]:
tuple_2[3:0]   #ikinci listenin başı olduğu için boş liste

()

In [37]:
tuple_2[0] = "Meltem"   #tuple assign işlemine izin vermiyor. Tamamını değiştirebilirsiniz

TypeError: 'tuple' object does not support item assignment

In [38]:
tuple_2[1]

4

In [39]:
tuple_2[1 = 5]   #tuple lar değiştirilemez

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2819112897.py, line 1)

In [43]:
tuple_2

('Aslan', 4, True, ['tulay', 5, 6, 7], ('zeynep', 2, 3.14))

In [41]:
tuple_2[3]

['tulay', 5, 6]

In [59]:
tuple_2[3].append(7)   #tuple içersisindeki listeye ekleme yapabiliyoruz. Liste methodu olduğu için #tuple hala immutabledır
tuple_2

('Aslan', 4, True, ['tulay', 5, 6, 7], ('zeynep', 2, 3.14))

In [69]:
tuple_2

('Aslan', 4, True, ['tulay', 6, 7], ('zeynep', 2, 3.14))

In [51]:
tuple_2[0]

'Aslan'

In [53]:
tuple_2[0].upper()

'ASLAN'

In [54]:
tuple_2

('Aslan', 4, True, ['tulay', 5, 6, 7], ('zeynep', 2, 3.14))

In [56]:
tuple_2[3]   #çıktısı liste olduğu için liste methodları uygulanabilir

['tulay', 5, 6, 7]

In [60]:
tuple_2[3].remove(5)
tuple_2

('Aslan', 4, True, ['tulay', 6, 7], ('zeynep', 2, 3.14))

In [61]:
del tuple_2[3]

TypeError: 'tuple' object doesn't support item deletion

## Tuple Methods

In [63]:
tuple_3 = (1, 4, 2, 5, 1, 3, 2, 4)

In [64]:
tuple_3.count(4)

2

In [65]:
tuple_3.count("Techpro")

0

In [66]:
tuple_3.index(3)

5

In [67]:
tuple_3.index(4)

1

In [70]:
tuple_2.index(['tulay', 6, 7])

3

# range()

In [71]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [72]:
range(4,10)

range(4, 10)

In [73]:
list(range(4,10))   #range fonsiyonu iterabledır çünkü liste ile çalışabilir.

[4, 5, 6, 7, 8, 9]

In [77]:
tuple(range(4,10))

(4, 5, 6, 7, 8, 9)

In [79]:
range(4,10)[1]

5

In [80]:
list(range(10))   #range fonsiyonunun startı 0 dır

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
list(range())

TypeError: range expected at least 1 argument, got 0

In [89]:
list(range(2,10,2))

[2, 4, 6, 8]

In [90]:
list(range(-5,10,2))

[-5, -3, -1, 1, 3, 5, 7, 9]

In [91]:
list(range(10,2,-1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [96]:
list(range(2,50,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [97]:
print(list(range(2,50,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]