In [8]:
3 + 6

9

In [9]:
print("Hello world")

Hello world

In [10]:
print("Zehra Utku'ya Aşık")  #hem de çok aşık

Zehra Utku'ya Aşık

In [11]:
print("hey guys")

hey guys

In [12]:
print("yorulmusem")

yorulmusem

In [13]:
print('hey baby')

hey baby

In [14]:
print(""hey"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (863493841.py, line 1)

In [15]:
print("""hey""")

hey

In [16]:
print('''hey''')

hey

In [17]:
print("sıkıldım")

sıkıldım

In [18]:
print("""hey ben yazılımcı olacağım. Başarılı olacağım, I am healty i am whelty, 
      i am rich, i am that bitch""")

hey ben yazılımcı olacağım. Başarılı olacağım, I am healty i am whelty,
      i am rich, i am that bitch

In [3]:
print("hello tatlım","naber")

hello tatlım naber

# hello
## hi
### hey
#### hoppa
##### yeto

# Pep8 Kuralları

In [8]:
print("""I am healty I am whelty I am rich I am that bitch i am gonna go get that 
      bag and i am not gonna take your shit""")

I am healty I am whelty I am rich I am that bitch i am gonna go get that
      bag and i am not gonna take your shit

# Comment

In [ ]:
3 + 5 #

# Variables

In [9]:
print("Techproeducation")

Techproeducation

In [10]:
course = "Techpro"

In [11]:
course("Noluyor")

TypeError: 'str' object is not callable

In [12]:
print(course)

Techpro

In [13]:
Utku = "yakışıklı"

In [15]:
print(utku)

NameError: name 'utku' is not defined

In [16]:
print(Utku)

yakışıklı

In [17]:
name = "material girl"

In [18]:
Print("name")

NameError: name 'Print' is not defined

In [19]:
print(name)

material girl

In [20]:
queen = "zehra"

In [21]:
print("queen")

queen

In [22]:
print(queen)

zehra

In [23]:
age = "19"

In [24]:
print(age)

19

In [25]:
print(age_1)
age_1 = "33"

NameError: name 'age_1' is not defined

In [26]:
age_1 = 35
print(age_1)

35

In [27]:
3 + 5

8

In [28]:
name_1 = "zehra"
name_2 = "utku"

In [29]:
print(name_1)
print(name_2)

zehra
utku

In [30]:
pi_number = 3.14 #alt tire kullanamamız gerekiyor. Normal tire yazılmaz

In [31]:
name_3 = "defne"
4_name = "aysenur"  # değişkenler numeric ve Özel karakterler ile başlayamaz. 
$_name = "bahar"

SyntaxError: invalid decimal literal (4059056057.py, line 2)

In [33]:
name_5 = "aytaç"
name_6 = "erkan"
age_3 = 33

In [34]:
print(name_6, name_5, age_3)

erkan aytaç 33

In [36]:
name_7, name_8 = "mustafa" , "ceren" # 2 değişkene 2 ayrı variable atamak gerek. Hepsinde " şareti arasına alınmalı

In [37]:
print(name_7 , name_8)

mustafa ceren

In [39]:
name_9, name_10 = "sumeyye" , "sumeyye"

In [41]:
name_11 = name_12 = "ahmet"

In [42]:
print(name_9, name_10)

sumeyye sumeyye

In [43]:
first_name = "sedat"
last_name = "aslan"

# Data Types

In [44]:
"hello world"  #string örneği tırnak işareti arasına yazılan her şey stringtir

'hello world'

In [47]:
type("hello world") # type fonksiyonu ile de data typeını öğrenebilirim

str

In [48]:
type("35") #sayı da olsa tırnak içinde olduğu için stringdir

str

In [50]:
name

'material girl'

In [49]:
type(name)

str

In [51]:
age_4 = 45

In [52]:
type(45) #tırnak işareti yok bu yüzden integer

int

In [53]:
type(age_4) #tam sayılar integer kısaltma:int

int

In [54]:
negative_number = -20

In [55]:
type(negative_number)

int

In [57]:
kesirli_sayı = 5.14

In [59]:
type(kesirli_sayı)  #kesirli sayılar floattır

float

In [56]:
type(pi_number)

float

In [60]:
type(2.4)

float

In [62]:
type(pi_number)

float

In [65]:
pi_number_2 = 3,14

In [66]:
type(pi_number_2)

tuple

In [70]:
1.0000
1,00,00

(1, 0, 0)

#boolean

In [71]:
type(true)

NameError: name 'true' is not defined

In [72]:
type(True) #T ve F harfi büyük olmalı, matematiksel karşılığı bir(1)dir. varlığı ifade eder.

bool

In [73]:
type(False) #matematiksel karşılığı sıfır(0)dır. Yokluğu/hiçliği ifade eder

bool

In [76]:
print(araba)

renault

In [77]:
del araba #değişkeni silme özelliği

In [78]:
araba_2 = "renault"

In [81]:
araba_2 = "opel"

In [82]:
print(araba_2)

opel

In [83]:
arabanın_yaşı = 3

In [84]:
arabanın_kilometresi = 1250.5

In [85]:
arabanın_kazası = False

In [86]:
arabanın_kazası_2 = "false"

In [87]:
type(arabanın_kazası)

bool

In [88]:
type(arabanın_kazası_2)

str

In [89]:
araba_3 = "citroen"