# Type Conversion

#### All types to str

In [2]:
age = 32
type(age)

int

In [4]:
str(age) # değişkeni stringe dönüştürme

'32'

In [5]:
type(age)

int

In [6]:
age = str(age) #bu şekilde kalıcı dönüştürme yapılır

In [7]:
type(age)

str

In [8]:
str(3.14)

'3.14'

In [10]:
str(True) # bütün data tipleri stringe dönüştürülebilir

'True'

In [12]:
3.14 = str(3.14)# hata alınmasının sebebi değişkenin sayı ile başlmaası

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (222585280.py, line 1)

In [4]:
pi_number = 3.14
type(pi_number)

float

In [5]:
str(pi_number)

'3.14'

In [6]:
pi_number = str(pi_number)

In [9]:
type(pi_number)

str

In [7]:
pinumber = 3.14

In [8]:
type(pinumber)

float

In [10]:
pinumber = str(pinumber)

In [11]:
type(pinumber)

str

### Str to int

In [28]:
age_1 = "33"
type(age_1)

str

In [29]:
int(age_1)

33

In [30]:
age_1 = int(age_1)

In [31]:
type(age_1)

int

In [32]:
2024 - age_1

1991

#### str to float

In [34]:
float("3.14")

3.14

In [36]:
float(3.14a)

SyntaxError: invalid decimal literal (890940639.py, line 1)

### float to int vs int to float

In [39]:
int(5.9) # int yuvarlama yapmaz noktadan sonrasını siler

5

In [40]:
float(5)

5.0

In [48]:
int("3.14") #stringden integera çevirmek için önce str ten floata çevirmek gereklidir

ValueError: invalid literal for int() with base 10: '3.14'

In [44]:
int(3.14)

3

In [46]:
float("3.14")

3.14

In [47]:
int(float("3.14"))

3

### bool to int 
### bool to float

In [49]:
int(True)

1

In [51]:
int(False)

0

In [52]:
float(True)

1.0

In [53]:
float(False)

0.0

In [12]:
str(False)

'False'

# Arithmetic Opeartors

In [55]:
3 + 5

8

In [57]:
9 - 4

5

In [58]:
8 * 5

40

In [59]:
40 / 10  #bölme işleminin sonucu her zaman floattır

4.0

In [60]:
20 / 7

2.857142857142857

In [61]:
2.4 * 5 #floatlı işlemin sonu her zaman floattır

12.0

In [63]:
25 / 3 # division

8.333333333333334

In [64]:
25 // 3 #floor division # bölmedeki tam sonucu verir

8

In [65]:
25 % 3 # modülüs (bölmedeki kalan kısmı verir)

1

In [69]:
2 ** 3 
5 ** 2

25

In [70]:
25 ** 0.5 #kara kökünü alır

5.0

In [72]:
4 + 5.0 # bir işlemde float var ise sonuç da her zmaan floattır

9.0

In [73]:
(4 + 5) * 5

45

In [75]:
x = (4 + 2) ** (4 ** (1 * 2 / 2) / 2)
print(x)

36.0

In [79]:
25 ** 1 / 2

12.5

In [80]:
25 ** (1 / 2)

5.0

yarıçapı 7 olan bir dairenin alanını bulan python kodunu yazın

In [81]:
pi = 3.14

In [82]:
x = 3.14 * (7 ** 2)

In [83]:
print(x)

153.86

In [88]:
r = 7
pi = 3.14   #2. çözüm yolu
alan = x

In [89]:
x = pi * (r ** 2)
print(x)

153.86

In [93]:
r = 7
pi = 3.14
alan = pi* (r **2)   #Hocanın cevabı

print( "yarıçapı 7 olan dairenin alanı" , alan)

yarıçapı 7 olan dairenin alanı 153.86

### bir kenarı 5 diğer kenarı 12 olan dik üçgenin hipotenüsünü bulan python kodunu yazın.

In [16]:
a = 5
b = 12
hipo = ((a ** 2) + (b ** 2)) ** 0.5

print("dik üçgenin hipotenüsü" , hipo)

dik üçgenin hipotenüsü 13.0

In [17]:
int(5 / 3)

1

In [20]:
5 / 3

1.6666666666666667